@model LoginViewModel

@{
    ViewBag.Title = "Авторизація";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="text-info mt-4 text-center">Авторизуйтеся щоб користуватися системою</h5>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Увійти</button>
            <a asp-action="Register" asp-controller="Account" class="btn btn-secondary">Зареєструватися</a>
        </form>
    </div>
</div>